<html ng-app="Practice">
    <head>
        <title>Practice</title>
        <script src="angular.min.js"></script>
        <script>
            var myApp = angular.module('Practice',[]);
        
            myApp.controller('PracticeController', ['$scope', function($scope) {
                var pc = this;
                $scope.Calculate = function(value, value2){
                    
                    return parseFloat(value) + parseFloat(value2);
                };
                 pc.taxoptions = [
                {amount:1.1,name:"10%"},
                {amount:1.15,name:"15%"}];
                
                pc.tax = pc.taxoptions[0].amount;
            }]);
            
           
        </script>
    </head>
    <body>
        <div ng-controller="PracticeController as pc">
            Cost: <input ng-model="pc.cost">
            </br>
            </br>
            Tax: <select ng-model="pc.tax" ng-options="s.name for s in pc.taxoptions"></select>
            </br>
            </br>
            Total: {{Calculate(pc.cost, pc.tax)}}
        </div>
    </body>
</html>